
.fullscreen-center {
  width: 100vw;
  min-height: 100vh; 
  background-color: #FEFAE0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-top: 5rem;
  overflow: hidden; 
}

.fullscreen-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px; 
  height: auto;
  margin-top: 0em;
}


.date-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 1rem;
}

.date-input,
.range-select {
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  font-size: 1rem;
}

.charts-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center; 
}


.card-title {
  font-size: 35px;
  text-align: center;
}

.emoji-large {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 10px;
  animation: bounce 2s infinite;
}

.emojiword {
  font-size: 2em;
  text-align: center;
  animation: bounce 0s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#title {
  text-align: center; 
  font-size: 3em;
  margin: 0 auto; 
}


.current-mood-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .charts-grid {
    flex-direction: column; 
  }

  .date-controls {
    flex-direction: column; 
  }

  .emoji-large {
    font-size: 4rem; 
  }

  .card-title {
    font-size: 28px; 
  }

  .emojiword {
    font-size: 1.5em; 
  }
}
